MONGO_URI=mongodb+srv://infozodex_db:%40Zodex0@zodex.h0qhx59.mongodb.net/satkamatka?retryWrites=true&w=majority
JWT_SECRET=change_this_to_a_secure_random_string
# RAZORPAY_KEY_ID=rzp_test_xxxxx
# RAZORPAY_KEY_SECRET=xxxxxxxx